<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="velord.university">

    <permission
        android:name="velord.university.PERM_PRIVATE_MINI_PLAYER"
        android:protectionLevel="signature" />
    <permission
        android:name="velord.university.PERM_PRIVATE_RADIO"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="velord.university.PERM_PRIVATE_MINI_PLAYER" />
    <uses-permission android:name="velord.university.PERM_PRIVATE_RADIO" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <application
        android:name=".application.AudlayerApp"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".application.service.hub.player.MiniPlayerService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service
            android:name=".application.service.hub.player.MiniPlayerServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </service>

        <service
            android:name=".application.service.radio.RadioService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service
            android:name=".application.service.radio.RadioServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </service>

        <service
            android:name=".application.service.hub.other.KillNotificationsService">
        </service>

        <service android:name=".application.service.hub.player.WidgetService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service android:name=".application.service.hub.player.PlayerNotificationService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".ui.activity.VkLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <activity
            android:configChanges="orientation"
            android:name=".ui.activity.MainActivity">

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    />
            </intent-filter>

        </activity>

        <receiver android:name=".ui.widget.AudlayerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/audlayer_widget_info" />
        </receiver>

        <receiver android:name=".application.notification.VkDownloadNotification$VkDownloadNotificationReceiver">
        </receiver>

        <receiver android:name=".application.broadcast.MiniPlayerNotificationBroadcastReceiver">
        </receiver>

       <receiver android:name=".application.broadcast.WidgetBroadcastReceiver">
       </receiver>

        <receiver
            android:name=".application.broadcast.restarter.RestarterMiniPlayerGeneralService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartMiniPlayerGeneralService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".application.broadcast.restarter.RestarterRadioService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartRadioService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".application.broadcast.restarter.RestarterWidgetService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartWidgetService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".application.broadcast.restarter.RestarterNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartNotificationService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".application.broadcast.MediaButtonEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>